ul {
  list-style-type: none;
  padding: 0;
}

.pizza {
  color: blue;
}

.remove {
  color: red;
}

.pizza, .remove {
  text-decoration: underline;
}

.remove:hover, .pizza:hover {
  cursor: pointer;
}

.chosen {
  background-color: yellow;
}
